<div id="content" class="main-content">
    <div>
        <div class="main-content-inner">
            <div id="ribbonView" class="hidden"></div>
            <div id="contentView">
                <div>
                    <div class="page-content">
                        <div>
                            <div id="viewServiceReqTitle" class="page-header">
                                <div>
                                    <h1>View Service Request</h1>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div>
                                <form class="form-horizontal" role="form" id="cform" [formGroup]="viewServiceReqForm" (ngSubmit)="onSubmit(viewServiceReqForm)">
                                    <div class="row form-group">
                                        <div class="col-xs-12 form-group" >
                                            <!--View type of request-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="transactionType">Type of request
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="typeOfReqId" formControlName="transactionType"
                                                      readonly>
                                                </div>
                                            </div>

                                            <!--View Source code-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewSourceCode">Source Code
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewSourceCodeId" formControlName="viewSourceCode" readonly>
                                                </div>
                                            </div>

                                            <!--View Company Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="companyName">Company Name
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="companyNameId" formControlName="companyName" readonly>
                                                </div>
                                            </div>

                                            <!--View Company Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="mailCode">Mail Code
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="authorizerId" formControlName="mailCode" readonly>
                                                </div>
                                            </div>

                                            <!--View Bank Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="bankName">Bank Name
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="bankNameId" formControlName="bankName" readonly>
                                                </div>
                                            </div>

                                            <!--View Check Number-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewCheckNumber">Check Number
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewCheckNumberId" formControlName="viewCheckNumber" readonly>
                                                </div>
                                            </div>

                                            <!--View transaction date-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewDateOfTrans">Date
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewDateOfTransId" formControlName="viewDateOfTrans" readonly>
                                                </div>
                                            </div>

                                            <!--View Amount-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAmount">Amount
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewAmountId" formControlName="viewAmount" readonly>
                                                </div>
                                            </div>

                                            <!--View Payee Name-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewPayee">Payee
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewPayeeId" formControlName="viewPayee" readonly>
                                                </div>
                                            </div>

                                            <!--View Reason for void-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAmount">Reason for Void
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewAmountId" formControlName="viewAmount" readonly>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group"> -->
                                            <!--View Address-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewAdd1">Address
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewAdd1Id" formControlName="viewAdd1" readonly>
                                                </div>
                                            </div>
                                            <!--View City-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewCity">City
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewCityId" formControlName="viewCity" readonly>
                                                </div>
                                            </div>

                                            <!--View State-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="ViewState">State
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="ViewStateId" formControlName="ViewState" readonly>
                                                </div>
                                            </div>

                                            <!--View Zip code-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewZipCode">Zip Code
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewZipCodeId" formControlName="viewZipCode" readonly>
                                                </div>
                                            </div>
                                            <!-- </div> address form-group -->

                                            <!--View original check-->
                                            <div class="col-xs-6 control-group">
                                                <div class="pull-left col-xs-4">
                                                    <label for="viewOriginalCheck">Do you have the original check?
                                                        <span>:</span>
                                                    </label>
                                                </div>
                                                <div class="pull-left col-xs-8">
                                                    <input type="text" class="form-control" id="viewOriginalCheckId" formControlName="viewOriginalCheck" readonly>
                                                </div>
                                            </div>

                                        </div>
                                        <!--row form group-->

                                        <!--form group -->
                                        <div class="row button-group">
                                            <div class="">
                                                <button class="btn btn-danger" (click)="delete($event)" >Delete</button>
                                                <button class="btn btn-primary" (click)="onSubmit($event)" >Edit</button>
                                                <button class="btn btn-warning  show-details-btn" (click)="onClickHome()" >Home </button>
                                                <button class="btn btn-info" (click)="onPrint()">Print </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <!--form -->
                            </div>
                        </div>
                    </div>
                    <!--container fluid end-->
                </div>

            </div>
        </div>
    </div>