<div id="topbar" class="navbar navbar-default">
	<div>
		<!-- src/apps/components/header/header.component.html -->
		<div class="navbar-container container" id="navbar-container">

			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#__OA_SIDEBAR__">
				<span class="sr-only">Toggle sidebar</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-header pull-left">
				<a id="__OA_LINK__" class="navbar-brand" routerLink="/yourTransactions">
					<small class="lighter">
						<div class="navbar-logo" title="OneAmerica logo"></div>
						Check Service Center
					</small>
				</a>
			</div>
			<!-- src/apps/components/header/header.component.html -->
			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<li class="ace-nav-welcome">

						<!-- src/apps/components/header/header.component.html -->
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<i class="ace-icon fa fa-user"></i>
							<span  class="user-info">
								<small>Welcome,</small> 
								<!-- {{userResults.displayName}} -->
								{{loginUserNameVar}}
								<!-- <div *ngFor="let item of userResults.capabilities" >
									{{ item }}
								</div> 
								 -->
							</span>
							<i class="ace-icon fa fa-caret-down"></i>
						</a>
						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<!--Commenting out the Logout option for the CDS Frontend as it is a resources App-->
							<li>
								
								<a id="logout_link" href="/servlet/AppSwitchServlet?OAE_APP_NAME=Logout">
									<i class="ace-icon fa fa-power-off"></i>Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>