.inner-addon {
    position: relative;
  }
/* enable absolute positioning */
/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 3px 0px !important;
  pointer-events: none;
}
/* align glyph */

.right-addon .glyphicon { right: 100px;}

/* add padding  */
.right-addon input { padding-right: 0px; }

.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}

/* table.accoutingTable
{
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.accoutingTable td
{
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color:#2679b5;
    background-color: white;
} */
