<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div class="page-header">
              <h1>Accounting</h1>
              <div class="pull-right">
                  <button id="addAccountDetails" class="btn btn-success btn-xs" (click)="addFieldValue($event)">
                    <i class="ace-icon fa fa-plus  bigger-110 icon-only"></i>
                    Add Accounting Details
                  </button>
                </div>
            </div>

            <div id="addAccounts">
              <div>
                <div id="accountDetailsData">
                  <div>
                    <div id="accountingPage" class="">
                      <div id="accountingDataResults_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                          <div class="">
                            <form class="form-horizontal" role="form" id="cform" [formGroup]="accountDetailsForm" (ngSubmit)="onSubmit(accountDetailsForm)">
                              <div class="table-responsive">
                                <div class="">
                                  <div class="pull-left">
                                    <label for="">Total Check Amount: </label>
                                    <input type="text" form-control formControlName="totalCheckAmount">
                                  </div>
                                </div>
                                <table id="accountingResults" class="accoutingTable table table-striped table-bordered table-hover dataTable" width="100%"
                                  role="grid" style="width: 100%;">
                                  <thead>
                                    <tr role="row">
                                      <th tabindex="0" rowspan="1" colspan="1" style="width: 20px;"> </th>
                                      <th tabindex="0" rowspan="1" colspan="1" style="width: 150px;">DR/CR
                                        <sup class="required-field">*</sup>
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1" style="width: 90px;">Account #
                                        <sup class="required-field">*</sup>
                                      </th>
                                      <th rowspan="1" colspan="1" style="width: 86px;">Amount
                                        <sup class="required-field">*</sup>
                                      </th>
                                      <th rowspan="1" colspan="1" style="width: 86px;">Policy #
                                        <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Cusip Number (1-9) 
                                              Contract No. (1-7)
                                              Mortgage No. (1-7)
                                              Invoice No. (1-7)
                                              Policy No. (1-7)
                                              Reins Code (8-11)
                                              Group No. (8-11)
                                              Billing No. (8-11)">
                                        </i>
                                      </th>
                                      <th rowspan="1" colspan="1" style="width: 86px;">Suspence #
                                        <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Agency-Agent No. (1-10) 
                                              Social Security No. (1-9)
                                              Suspence No. {216 & 218}(1-8)
                                              Claim No. Due Date (1-6)
                                              Suspence No. {224-226} (1-6)
                                              Identification No. (1-5)">
                                        </i>
                                      </th>
                                      <th rowspan="1" colspan="1" style="width: 86px;">Alpha
                                        <i class="glyphicon glyphicon-info-sign glyphColor" id="subTooltip" data-toggle="tooltip" data-placement="top" title="Alpha Com. (1-4) 
                                            Ben/Dis. No. (1-4)">
                                        </i>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let field of accountsArray; let i = index" role="row" class="odd">
                                      <td>{{field.rowId}}</td>
                                      <td>
                                        <select class="form-control" formControlName="debitCreditFlag">
                                          <option value="">DR</option>
                                          <option value="">CR</option>
                                        </select>
                                      </td>
                                      <td>
                                        <input class="form-control" formControlName="accountNumber" maxlength="10">
                                      </td>
                                      <td>
                                        <input class="form-control" formControlName="amount">
                                      </td>
                                      <td>
                                        <input class="form-control" formControlName="policyNumber" maxlength="11">
                                      </td>
                                      <td>
                                        <input class="form-control" formControlName="suspenseNumber" maxlength="10">
                                      </td>
                                      <td>
                                        <input class="form-control" formControlName="alpha" maxlength="4">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!--table -responsive -->
                            </form>
                            <div class="row button-group">
                              <div class="center">
                                <button class="btn btn-primary" type="submit" (click)="onClickPrevious()">Previous</button>
                                <button class="btn btn-primary" type="submit" (click)="onSubmit($event)">Next</button>
                                <button class="btn btn-danger" (click)="onClickCancel()">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save As Draft</button>
                              </div>
                            </div>
                            <!-- row button group-->
                          </div>
                        </div>
                      </div>
                      <!-- /.table-responsive-swipe -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Main content-->
      </div>
    </div>
    <!--Content -->