<div id="__OA_SIDEBAR__" class="sidebar responsive" data-auto-hide="true" data-sidebar="true">
  <div class="">
    <div>
      <div class="nav-wrap-up pos-rel">
        <div class="nav-wrap nav-wrap-t">
          <ul id="__OA_SIDEBAR_MENU__" class="nav nav-list">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a data-title="Your Transactions" class="internalLink"  [routerLink]="['/home/yourTransactions']" >
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text">Your Transactions</span>
              </a>
            </li>
            <li  routerLinkActive="active" *ngIf="replaceVar" >
              <a  data-title="Replace Check" class="internalLink" [routerLink]="['/home/replaceChecks']" [queryParams]="{type: 'Replace'}" >
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text">Replace Check</span>
              </a><span [routerLink]="['/home//verifyCheckInfo']" [queryParams]="{type: 'Replace'}"> </span>
            </li>
            <li routerLinkActive="active" *ngIf="voidVar">
              <a data-title="Void Check" class="internalLink" [routerLink]="['/home/voidChecks']" [queryParams]="{type: 'Void'}" >
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text"> Void Check</span>
              </a>
              <span [routerLink]="['/home//verifyCheckInfo']" [queryParams]="{type: 'Void'}"> </span>
            </li>
            <li  routerLinkActive="active" *ngIf="requestVar" >
              <a data-title="Request Disbursement"  class="internalLink break-word" [routerLink]="['/home/requestDisbursement']">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text">Request Disbursement</span>
              </a>
            </li>
            <li>
              <a data-title="Exit Application" class="internalLink" href="#">
                <i class="menu-icon fa fa-stop-circle-o"></i>
                <span class="menu-text">Exit Application</span>
              </a>
            </li>
          </ul>

          <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
            </i>
          </div>
        </div>
        <div class="ace-scroll nav-scroll">
          <div class="scroll-track scroll-active">
            <div class="scroll-bar">
            </div>
          </div>
          <div class="scroll-content">
            <div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div>
          <router-outlet></router-outlet>      
      </div> -->
      
    </div>
  </div>
</div>