<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="disbursementInfo" class="page-header">
                <div>
                  <h1>Information and Codes</h1>
                </div>
              </div>
            </div>

            <!-- <div class="page-header">
              <h1>
                <small>
                  <span class="titleSpan">
                    <span>Home </span>&nbsp;
                    <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                    <span>Information and Codes</span>&nbsp;</span>
                </small>
              </h1>
            </div> -->

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="reqDisbursement" [formGroup]="disbursementForm" (ngSubmit)="onSubmit(disbursementForm)" >
                    <div class="row form-group">
                      
                      <!--Company Name  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Company Name
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="companies">
                            <option value="">--Pick a Company--</option>
                            <option *ngFor="let companyCode of companies; let item = index" [selected]="item==0">{{ companyCode.name }}</option>
                          </select>
                        </div>
                        <control-messages [control]="disbursementForm.controls.companies"></control-messages>
                      </div>
                      <!-- Source Code  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="rbSourceCode">Source Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="rbSourceCode" maxlength="5">
                        </div>
                        <control-messages [control]="disbursementForm.controls.rbSourceCode"></control-messages>
                      </div>
                      <!--Phone Number-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="rbPhnNum">Phone Number :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="rbPhnNum" maxlength="10">
                        </div>
                      </div>
                      <div class="row col-xs-12">
                        <!---Electronic Fund Transfer -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="Electronic Fund Transfer" formControlName="radioFlag" name="radioFlag" (change)="validateOnChange($event)">
                            <label for="radioFlag">Electronic Fund Transfer </label>
                          </div>
                        </div>
                        <!---USA -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-4">
                            <input type="radio" value="U.S" formControlName="usOrIntRadioBtn" name="usOrIntRadioBtn" [checked]="true" (change)="validateStateOrCountry($event)">
                            <label for="usOrIntRadioBtn">U.S.</label>
                          </div>
                        </div>
                      </div>
                      <!--row group-->
                      <div class="row col-xs-12">
                        <!---Check -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="Check" formControlName="radioFlag" name="radioFlag" (change)="validateOnChange($event)" [checked]="true">
                            <label for="radioFlag">Check </label>
                          </div>
                        </div>
                        <!---International -->
                        <div class="col-xs-6 control-group">
                          <div class="pull-left col-xs-6">
                            <input type="radio" value="International" formControlName="usOrIntRadioBtn" name="usOrIntRadioBtn" (change)="validateStateOrCountry($event)">
                            <label for="usOrIntRadioBtn">International </label>
                          </div>
                        </div>
                      </div>
                      <!--row-group-->
                      <!-- Description Code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="descriptionCode">Description Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="descriptionCode" maxlength="5">
                        </div>
                      </div>
                      <!-- state  -->
                      <div class="col-xs-12 control-group" *ngIf="enableState">
                        <div class="pull-left col-xs-4">
                          <label for="states">State
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="states">
                            <option value="">--Pick a State ---</option>
                            <option  *ngFor="let state of states"> {{state.name}} </option>
                          </select>
                        </div>
                        <control-messages [control]="disbursementForm.controls.states"></control-messages>
                      </div>
                      <!--International country-->
                      <div class="col-xs-12 control-group" *ngIf="enableCountry">
                        <div class="pull-left col-xs-4">
                          <label for="country"> Country
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="country">
                        </div>
                        <control-messages [control]="disbursementForm.controls.country"></control-messages>
                      </div>
                      <!-- Mailcode dropdown  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label>Mail Code
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="mailCodes">
                            <option *ngFor="let mailcode of mailCodes; let i= index" [selected]= "i == 4">{{mailcode.description}} </option>
                          </select>
                        </div>
                      </div>
                      <!--Tax ID-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="taxId"> Tax ID
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="taxId" maxlength="11">
                        </div>
                      </div>
                      <!---Original Check -->
                      <div class="col-xs-12 control-group" *ngIf="enablePayeeCdYesOrNo">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCodeFlag">Do you have a Payee Code
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <label>
                            <input type="radio" value="Yes" formControlName="payeeCodeFlag" name="payeeCodeFlag" (change)="validateOnVendorCode()"> Yes
                          </label>
                          <label>
                            <input type="radio" value="No" formControlName="payeeCodeFlag" name="payeeCodeFlag" (change)="validateOnVendorCode()"> No
                          </label>
                        </div>
                      </div>
                      <!--Vendor Code-->
                      <div class="col-xs-12 control-group" *ngIf="enablePayeeCode">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCode"> Payee Code
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="payeeCode">
                        </div>
                      </div>
                      <div *ngIf="enablePayeeDetails">
                        <!--Routing Number-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="routingNumber"> Routing Number
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="routingNumber" maxlength="9">
                          </div>
                          <control-messages [control]="disbursementForm.controls.routingNumber"></control-messages>
                        </div>
                        <!--Account Number-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="accountNumber"> Account Number
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="accountNumber" maxlength="10">
                          </div>
                          <control-messages [control]="disbursementForm.controls.accountNumber"></control-messages>
                        </div>
                        <!--Account Type  -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label>Account Type
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <select class="form-control" formControlName="accountTypes">
                              <option value="">--Select Account Type--</option>
                              <option *ngFor="let accountType of accountTypes" [value]="accountType">{{ accountType }}</option>
                            </select>
                          </div>
                          <control-messages [control]="disbursementForm.controls.accountTypes"></control-messages>
                        </div>
                      </div>
                      <!--ng if-->
                    </div>
                    <!--row form-group-->
                    <div class="row button-group">
                      <div class="">
                        <button class="btn btn-primary" type="submit">Next</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>
            <!--Container fluid -->

          </div>
        </div>
      </div>
    </div>
  </div>