/* .required-field{
    color:#FF0000;
} */
.error-msg{
    margin: 0px 0px 0px 0px !important;
    height:16px;
    
}
.errorMsg {
    color: red !important;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.required-field {
    font-size: 14px;
    width: 10px;
    color: #FF0000;
}
control-messages{
    color: #FF0000;
    font-size: 14px;
}
div.input{
    color: black;
}