<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="replaceCheckTitle" class="page-header">
                <div>
                  <h1>View Service Request</h1>
                </div>
              </div>
            </div>
            <!-- 
              <div class="page-header">
                <h1>
                  <small>
                    <span class="titleSpan">
                      <span>Home</span>&nbsp;
                      <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                      <span>View Service Request</span>&nbsp;</span>
                  </small>
                </h1>
              </div> -->

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="cform" [formGroup]="replaceCheckForm" (ngSubmit)="onSubmit(replaceCheckForm)">
                    <div class="row form-group">
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyInfo">Company Name/ bank information
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="companyNames" id="companyNames">
                            <option value="">Company Name</option>
                            <option *ngFor="let companyName of companyNames">{{ companyName.name }}</option>
                          </select>
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.companyNames"></control-messages>
                      </div>

                      <!---Check Number -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="checkNumber">Check Number
                            <sup class="required-field">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" id="checkNumber" formControlName="checkNumber" maxlength="7">
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.checkNumber"></control-messages>
                      </div>
                      <!---Source code -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="sourceCode">Source Code
                            <sup class="required-field">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" id="sourceCode" formControlName="sourceCode">
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.sourceCode"></control-messages>
                      </div>

                      <!---Phone Number -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="phoneNumber">Phone Number :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                        </div>
                        <control-messages [control]="replaceCheckForm.controls.phoneNumber"></control-messages>
                      </div>
                    </div>

                    <!--form group -->
                    <div class="row button-group">
                      <div class="">
                        <button class="btn btn-primary" type="submit">Next</button>
                        <button class="btn btn-danger" (click)="navigateToHome()">Cancel</button>
                      </div>
                    </div>

                    <!-- <div>
                        <router-outlet></router-outlet>
                      </div> -->
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>


          </div>
          <!-- page content -->
        </div>
      </div>
      <!--content view -->
    </div>
  </div>