<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="verifyCheckInfo" class="page-header">
                <div>
                  <h1>Verify Check Information</h1>
                </div>
              </div>
            </div>

            <!-- <div class="page-header">
              <h1>
                <small>
                  <span class="titleSpan">
                    <span>Home </span>&nbsp;
                    <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;
                    <span>Verify Check Info</span>&nbsp;</span>
                </small>
              </h1>
            </div> -->

            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="vcform" [formGroup]="verifyCheckInfoForm" (ngSubmit)="onSubmit(verifyCheckInfoForm)">
                    <div class="row form-group">
                      <!--Payee Name  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeName">Payee:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input class="form-control" formControlName="payeeName" id="payeeName" readonly>
                        </div>
                      </div>
                      <!-- Payee address  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress1">Address1
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input class="form-control" formControlName="payeeAddress1">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeAddress1"></control-messages>

                      </div>
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress2">Address2 :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input class="form-control" formControlName="payeeAddress2">
                        </div>
                      </div>
                      <!-- city  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeCity">City
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input class="form-control" formControlName="payeeCity">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeCity"></control-messages>                   
                      </div>

                      <!-- state  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeState">State
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="payeeState">
                            <option value="">--Select State ---</option>
                            <option *ngFor="let state of payeeState"> {{ state.code }} </option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeState" ></control-messages>
                      </div>

                      <!-- Zip  code-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeZip">Zip
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-2">
                          <input type="input" class="form-control" formControlName="payeeZip" maxlength="5">
                        </div>
                        <div class="pull-left col-xs-2">
                          <input type="input" class="form-control" formControlName="payeeZipPlusFour" maxlength="4">
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.payeeZip" ></control-messages>
                      </div>

                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label> Mail code
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="mailCodes">
                            <option *ngFor="let mailcode of mailCodes; let i= index" [selected]="i == 4" [value]="mailcode"> {{ mailcode.description }}</option>
                          </select>
                        </div>
                        <control-messages [control]="verifyCheckInfoForm.controls.mailCodes" ></control-messages>
                      </div>

                      <!---Amount -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="amount">Amount
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="amount" formControlName="amount" readonly>
                        </div>
                      </div>
                      <!---Date Field -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="verifyDate">Date
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="verifyDateId" formControlName="verifyDate" readonly>
                        </div>
                      </div>

                      <!---company name -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="companyCode">Company :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="companyCodeId" formControlName="companyCode" readonly>
                        </div>
                      </div>
                      <!--Description -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="description">Description :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="description" formControlName="description" readonly>
                        </div>
                      </div>

                      <div>
                        <!--void To div-->
                        <!--Void to dropdown-->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="voidTo"> Void to
                              <span class="required-field">* </span> :
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <select class="form-control" formControlName="voidTo" (change)="onChangeVoidTo()">
                              <option selected>Original Account</option>
                              <option *ngFor="let r of voidTo">{{r.accountNumber}}</option>
                            </select>
                          </div>
                          <!-- <control-messages [control]="verifyCheckInfoForm.controls.voidTo"></control-messages> -->
                        </div>
                        <!--SSN-->
                        <div class="col-xs-12 control-group" *ngIf="enabledVoidToSection">
                          <div class="pull-left col-xs-4">
                            <label for="ssn">SSN :
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="input" class="form-control" id="ssnId" formControlName="ssn">
                          </div>
                        </div>
                        <!--Date field -->
                        <div class="col-xs-12 control-group" *ngIf="enabledVoidToSection">
                          <div class="pull-left col-xs-4">
                            <label for="date">Date :
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="input" class="form-control" placeholder="MM/DD/YYYY" id="voidToDateId" formControlName="voidToDate">

                          </div>
                          <!-- <control-messages [control]="verifyCheckInfoForm.controls.voidToDate"></control-messages> -->
                        </div>

                        <!--State Code -->
                        <div class="col-xs-12 control-group" *ngIf="enabledVoidToSection">
                          <div class="pull-left col-xs-4">
                            <label>State Code (alpha) :
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="input" class="form-control" id="voidToStateId" formControlName="voidToState">
                          </div>
                        </div>
                      </div>

                      <!-- Reason to void or replace check-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4" *ngIf="reasnVoidLblEnabled">
                          <label for="companyInfo">Reason for Void
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4" *ngIf="reasnReplaceLblEnabled">
                          <label for="companyInfo">Reason for replacement
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <select class="form-control" formControlName="reasonCodes" id="reasonCodes" (change)="handleChange($event.target.value)">
                            <option value="">-Please Select Reason--</option>
                            <option *ngFor="let reason of reasonCodes" [value]="reason"> {{ reason.reason }}</option>
                          </select>
                        </div>
                        <!-- <control-messages [control]="verifyCheckInfoForm.controls.reasonCodes"></control-messages> -->
                      </div>

                      <!--Other Reason to void or replace check-->
                      <div class="col-xs-12 control-group" *ngIf="!enabledOtherReason">
                        <div class="pull-left col-xs-4">
                          <label for="otherReason">Other Reason</label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" id="otherReasonId" formControlName="otherReason">
                        </div>
                      </div>

                      <!---Original Check -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="originalCheck">Do you have the original check?
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="row form-group">
                          <label>
                            <input type="radio" value="Yes" formControlName="originalCheck" name="originalCheck"> Yes
                          </label>
                          <label>
                            <input type="radio" value="No" formControlName="originalCheck" name="originalCheck"> No
                          </label>
                        </div>
                        <!-- <control-messages [control]="verifyCheckInfoForm.controls.originalCheck" ></control-messages> -->

                      </div>
                    </div>
                    <div class="row button-group">
                      <div class="">
                        <button class="btn btn-primary" type="submit">Next</button>
                        <button class="btn btn-danger" (click)="navigateToHome()">Cancel</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>