<div id="content" class="main-content">
  <div>
    <div class="main-content-inner">
      <div id="ribbonView" class="hidden"></div>
      <div id="contentView">
        <div>
          <div class="page-content">
            <div>
              <div id="payeeInfoTitle" class="page-header">
                <div>
                  <h1>Payee Information and Description</h1>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="">
                <div>
                  <form class="form-horizontal" role="form" id="cform" [formGroup]="payeeInfoForm" (ngSubmit)="onSubmit(payeeInfoForm)">
                    <div class="row form-group">
                      <!--Payee Name-->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeName">Payee
                            <span class="required-field">* </span> :
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="payeeName" id="payeeId">
                        </div>
                        <control-messages [control]="payeeInfoForm.controls.payeeName"></control-messages>
                      </div>
                      <!--- Address1  -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="payeeAddress1">Address1
                            <sup class="required-field">*</sup>
                            <span>:</span>
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="text" class="form-control" formControlName="payeeAddress1">
                        </div>
                        <control-messages [control]="payeeInfoForm.controls.payeeAddress1"></control-messages>
                      </div>
                      <!--- Address2 -->
                      <div *ngIf="!showAddressFileds">
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeAddress2">Address2
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="payeeAddress2">
                          </div>
                        </div>
                        <!--- Address3 -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeAddress3">Address3
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="payeeAddress3">
                          </div>
                        </div>
                        <!--- Address4 -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeAddress4">Address4
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="payeeAddress4">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="showAddressFileds">
                        <!---City -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeCity">City
                              <sup class="required-field">*</sup>
                              <span>:</span>
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <input type="text" class="form-control" formControlName="payeeCity">
                          </div>
                          <control-messages [control]="payeeInfoForm.controls.payeeCity"></control-messages>
                        </div>
                        <!---State -->
                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeState">State
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-4">
                            <select class="form-control" formControlName="payeeState">
                              <option value="">--Pick a State--</option>
                              <option *ngFor="let state of payeeState">{{ state.code }}</option>
                            </select>
                          </div>
                          <control-messages [control]="payeeInfoForm.controls.payeeState"></control-messages>
                        </div>
                        <!---zip code -->

                        <div class="col-xs-12 control-group">
                          <div class="pull-left col-xs-4">
                            <label for="payeeZip">Zip Code
                              <sup class="required-field">*</sup>:
                            </label>
                          </div>
                          <div class="pull-left col-xs-2">
                            <input type="input" class="form-control" formControlName="payeeZip" maxlength="5">
                          </div>
                          <div class="pull-left col-xs-2">
                            <input type="input" class="form-control" formControlName="payeeZipPlusFour" maxlength="4">
                          </div>
                          <control-messages [control]="payeeInfoForm.controls.payeeZip"></control-messages>
                          <control-messages [control]="payeeInfoForm.controls.payeeZipPlusFour"></control-messages>                       
                        </div>
                      </div>

                      <!---Description -->
                      <div class="col-xs-12 control-group">
                        <div class="pull-left col-xs-4">
                          <label for="description1">Description
                            <sup class="required-field">*</sup>:
                          </label>
                        </div>
                        <div class="pull-left col-xs-4">
                          <input type="input" class="form-control" formControlName="description1" maxlength="60">
                          <input type="input" class="form-control" formControlName="description2" maxlength="60">
                        </div>
                        <control-messages [control]="payeeInfoForm.controls.description1"></control-messages>
                      </div>

                    </div>
                    <!--form group -->
                    <div class="row button-group">
                      <div class="">
                        <button class="btn btn-primary" type="submit" (click)="onClickPrevious()">Previous</button>
                        <button class="btn btn-primary" type="submit" >Next</button>
                        <button class="btn btn-danger" (click)="onClickCancel()">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save As Draft</button>
                      </div>
                    </div>
                  </form>
                  <!--form -->
                </div>
              </div>
            </div>
            <!--Conainer fluid -->
          </div>
          <!---Page content -->
        </div>
      </div>
    </div>
  </div>